/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Container principal */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #28a745;
    /* Verde */
}

/* Formulário de Pesquisa */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form label {
    margin-right: 10px;
    font-weight: bold;
}

form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-right: 10px;
}

form button {
    padding: 10px 20px;
    background-color: #28a745;
    /* Verde */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #218838;
    /* Verde mais escuro */
}

/* Lista de Categorias */
ul {
    list-style: none;
}

ul li {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Mensagem quando não há categorias */
p {
    text-align: center;
    font-style: italic;
}